* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cornflowerblue;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}


.img {
   margin-top: 10%;
   width: 30%;
}
